<html>
  <body>
    <h1>login With google</h1>
    <a href="<%= getGoogleOAuthURL() %>">Login with Google</a>
    <h1>login With github</h1>
    <a href="<%= githubAuth() %>">Login with github</a>
    <h1>login With facebook</h1>
    <a href="<%= facebookAuth() %>">Login with facebook</a>
    <h1>login With linkedin</h1>
    <a href="<%= linkedinAuth() %>">Login with linkedin</a>
    <h1>login With tiktok</h1>
    <a href="<%= tiktokAuth() %>">Login with tiktok</a>
    <h1>login With twitter</h1>
    <a href="<%= twitterAuth() %>">Login with twitter</a>
    <h1>login With yahoo</h1>
    <a href="<%= yahooAuth() %>">Login with yahoo</a>
    <h1>login With reddit</h1>
    <a href="<%= redditAuth() %>">Login with reddit</a>
    <h1>login With amazon</h1>
    <a href="<%= amazonAuth() %>">Login with amazon</a>
    <h1>login With gitlab</h1>
    <a href="<%= gitlabAuth() %>">Login with gitlab</a>
    <h1>login With discord</h1>
    <a href="<%= discordAuth() %>">Login with discord</a>
    <h1>login With microsoft</h1>
    <a href="<%= microsoftAuth() %>">Login with microsoft</a>
  </a>


  </body>
</html>